[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "robcp"]
	path = robcp
	url = https://github.com/cran/robcp
	shallow = true
	registered = true
